<div class="flex-container">
  <div>
    <a href="#" class="btn-board-header board-title">
      <span class="text-btn bold">{{title}}</span>
    </a>
    <a href="#" class="btn-board-header">
      <span class="icon-star"></span>
    </a>
    <span class="vertical-line"></span>
    <a href="#" class="btn-board-header">
      <span class="text-btn">Personal</span>
    </a>
    <span class="vertical-line"></span>
    <a href="#" class="btn-board-header">
      <span class="icon-private"></span>
      <span class="text-btn">Private</span>
    </a>
  </div>
  <div>
    <a href="#" class="btn-board-header show-menu">
      <span class="icon-menu"></span>
      <!--
      -->
      <span class="text-btn">Show Menu</span>
    </a>
  </div>
</div>

<div class="all-lists flex-container">
  <div class="user-lists flex-container"></div>
  <div class="add-list-container">
    <a href="#" class="add-list">
      <span>Add a list...</span>
    </a>
    <div class="add-list-input hidden">
      <input class="new-list-title" placeholder="Add a list...">
      <div>
        <a href="#" class="btn-confirm">Save</a>
        <a href="#" class="btn-close-list-input">
          <span class="icon-close"></span>
        </a>
      </div>
    </div>
  </div>
</div>