<div class="flex-container">  
  <a href="/{{id}}" class="card-link">
    <span class="card-title">{{title}}</span>
    <span class="icon-text"></span>
  </a>
  <a href="#" class="btn-card-title-edit">
    <span class="icon-edit hidden"></span>
  </a>
</div>

<div class="card-title-modal hidden">
  <div class="modal-bg"></div>
  <div class="card-title-edit">
    <textarea class="title-edit"></textarea>
    <a href="#" class="btn-confirm">Save</a>
  </div>
</div>