<div class="flex-container">
  <div class="grid-grouping">
    <a href="#" class="btn-header">
      <span class="icon-back"></span>
    </a>
    <a href="#" class="btn-header">
      <span class="icon-trello"></span>
      <span class="text-btn">Boards</span>
    </a>
    <div class="search-header">
      <a href="#" class="btn-header search-btn">
        <span class="icon-search"></span>
      </a>
      <div class="search-bar hidden">
        <input type="search" placeholder="Enter search query here" class="search-input">
        <a href="#" class="btn-search-close">
          <span class="icon-close"></span>
        </a>
      </div>
      <div class="search-results hidden">
        <div class="card-results">
          <p class="notice">Enter search query above!</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-container header-right">
    <a href="/" class="header-logo">
      <span class="icon-trello-logo"></span>
    </a>
    <div class="grid-grouping">
      <a href="#" class="btn-header">
        <span class="icon-add"></span>
      </a>
      <a href="#" class="btn-header">
        <span class="icon-info"></span>
      </a>
      <a href="#" class="btn-header">
        <span class="icon-bell"></span>
      </a>
      <a href="#" class="user-icon">
        <span>MA</span>
      </a>
    </div>
  </div>
</div>